<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main>
    <h2>Page protégée</h2>
    <%- JSON.stringify(data) %>

    <%- include('components/form-post') -%>
</main>

<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%>  