<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main>
    <h2>Test brain JS</h2>
    <%- include('components/form-iris') -%>
</main>

<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%>