<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main>
    <section>
        <%- include('components/form-register') -%>
    </section>

    <section>
        <%- include('components/form-login') -%>
    </section>
</main>

<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%>  

<script>
    fetch('/auth/me')
    .then( response => {
        if(response.ok){ return response.json() }
    })
    .then( data => {
        if( data.err === null ){ window.location = '/backoffice' }
    })
    .catch( err => {
        console.log(err)
    })
</script>