<h2>Add new Iris</h2>
<p>The data must contain :</p>

<code>
<pre>
5.1,3.5,1.4,0.2,Iris-setosa
6.8,2.8,4.8,1.4,Iris-versicolor
5.9,3.0,5.1,1.8,Iris-virginica$
</pre>
</code>

<form action="/iris" method="POST">
    <label for="SepalLengthCm">Sepal length</label>
    <input type="text" name="SepalLengthCm" id="SepalLengthCm" required>

    <label for="SepalWidthCm">Sepal width</label>
    <input type="text" name="SepalWidthCm" id="SepalWidthCm" required>

    <label for="PetalLengthCm">Petal length</label>
    <input type="text" name="PetalLengthCm" id="PetalLengthCm" required>

    <label for="PetalWidthCm">Petal width</label>
    <input type="text" name="PetalWidthCm" id="PetalWidthCm" required>

    <label for="Species">Spacies</label>
    <input type="text" name="Species" id="Species" required>

    <button type="submit">Add</button>
</form>