<form action="/iris" method="POST">
    <label for="SepalLengthCm">Sepal length</label>
    <input type="number" name="SepalLengthCm" id="SepalLengthCm" required>

    <label for="SepalWidthCm">Sepal width</label>
    <input type="number" name="SepalWidthCm" id="SepalWidthCm" required>

    <label for="PetalLengthCm">Petal length</label>
    <input type="number" name="PetalLengthCm" id="PetalLengthCm" required>

    <label for="PetalWidthCm">Petal width</label>
    <input type="number" name="PetalWidthCm" id="PetalWidthCm" required>

    <label for="Species">Spacies</label>
    <input type="text" name="Species" id="Species" required>

    <button type="submit">Add</button>
</form>