<h2>Test Iris data</h2>

<form action="/iris" method="POST">
    <label for="SepalLengthCm">Sepal length</label>
    <input type="text" name="SepalLengthCm" id="SepalLengthCm" required>

    <label for="SepalWidthCm">Sepal width</label>
    <input type="text" name="SepalWidthCm" id="SepalWidthCm" required>

    <label for="PetalLengthCm">Petal length</label>
    <input type="text" name="PetalLengthCm" id="PetalLengthCm" required>

    <label for="PetalWidthCm">Petal width</label>
    <input type="text" name="PetalWidthCm" id="PetalWidthCm" required>

    <button type="submit">Test</button>
</form>